{% extends 'base.html.twig' %}
{% block title %}Créer une nouvelle recette{% endblock %}
{% block body %}
    <div style="margin-bottom: 40px;text-align:center;margin-bottom: 20px">
    <h1 >ajouter une nouvelle voiture</h1>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.cin) }}
    {{ form_row(form.address) }}
    {{ form_row(form.city) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}

{% endblock %}
 